# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build output
dist/
dist-ssr/
/build

# testing
/coverage

# misc
.DS_Store
*.pem
*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
!.env.encrypted
!.env.*.encrypted

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# typescript
*.tsbuildinfo
